.overflowhidden{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Don't forget this one */
}

.service-icon{
    width: 1.6em;
    height: 1.6em;
    margin-bottom: -0.3em;
    margin-left: 0px;
    margin-right: 2px;
    position: relative;
    display: inline-block;
}

.title{
    font-size: 1.0em;
    padding: 2px;
    margin-left: 0em;
    display: inline;
}

